@using WebApp.Entity
@using WebApp.ViewModels


<!-- Container -->
<div class="container-fixed" id="content_container">
</div>
<!-- End of Container -->
<!-- Container -->
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Настройки сайта
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Создание Новой Тег
            </div>
        </div>
    </div>
</div>
<!-- End of Container -->
<!-- Container -->
<div class="container-fixed">
    <form class="card edit-teg-form" asp-controller="Admin" asp-action="CreateTag" method="post" enctype="multipart/form-data">
        
        @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger mb-4">
                    @ViewBag.Error
                </div>
            }
        
        <div class="card-header">
            <h3 class="card-title">
                Заполните данные
            </h3>
        </div>
        <div class="card-body grid gap-5">
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Name
                </label>
                <input class="input" name="Name" type="text"  />
            </div>
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Slug
                </label>
                <input class="input" name="Slug" type="text" />
                
            </div>
            
        </div>
        <div class="card-footer justify-center">
            <button class="btn btn-sm btn-primary" type="submit">
                Создать
            </button>
        </div>
    </form>
    
</div>