@using WebApp.Entity
@using WebApp.ViewModels

@{
    var relationsList = (List<string>)Model;
}
<!-- Container -->
<div class="container-fixed" id="content_container">
</div>
<!-- End of Container -->
<!-- Container -->
<div class="container-fixed">
    <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
        <div class="flex flex-col justify-center gap-2">
            <h1 class="text-xl font-medium leading-none text-gray-900">
                Настройки сайта
            </h1>
            <div class="flex items-center gap-2 text-sm font-normal text-gray-700">
                Редактирование опции
            </div>
        </div>
    </div>
</div>
<!-- End of Container -->
<!-- Container -->
<div class="container-fixed">
    <form class="card edit-option-form" asp-controller="Admin" asp-action="CreateOption" method="post">
        <div class="card-header">
            <h3 class="card-title">
                Создание новой опции
            </h3>
        </div>
        <div class="card-body grid gap-5">
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Name
                </label>
                <input class="input" name="Name" type="text" />
            </div>
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Key
                </label>
                <input class="input" name="Key" type="text" />
            </div>
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Value
                </label>
                <input class="input" name="Value" type="text" />
            </div>
            <div class="flex items-baseline flex-wrap gap-2.5">
                <label class="form-label max-w-32">
                    Relation
                </label>
                <div class="flex flex-col items-start grow gap-5">
                    <select class="select reations-select" name="Relation">
                        <option value="">

                        </option>
                        @foreach (var oneRelation in relationsList)
                        {
                            <option value="@oneRelation">
                                @oneRelation
                            </option>
                        }
                    </select>
                    <a class="btn btn-sm btn-light btn-outline add_more_relation_button" href="#">
                        <i class="ki-filled ki-plus-squared">
                        </i>
                        Add more
                    </a>
                </div>
            </div>
            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                <label class="form-label max-w-32">
                    Order
                </label>
                <input class="input" name="Order" type="number" min="1" max="128" value="1" />
            </div>
        </div>
        <div class="card-footer justify-center">
            <button class="btn btn-sm btn-primary" type="submit">
                Сохранить изменения
            </button>
        </div>
    </form>
    <div class="modal" data-modal="true" id="add_relation_modal">
        <div class="modal-content max-w-[600px] top-[15%]">
            <div class="modal-header py-4 px-5 justify-end">
                <button class="btn btn-sm btn-icon btn-light btn-clear shrink-0" data-modal-dismiss="true">
                    <i class="ki-filled ki-cross">
                    </i>
                </button>
            </div>
            <div class="modal-body p-0 pb-5">
                <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto" data-scrollable-offset="300px">
                    <div>
                        <div class="menu menu-default p-0 flex-col">
                            <div class="menu-item">
                                <div class="menu-link flex items-center jistify-between gap-2">
                                    <div class="flex items-center grow gap-2 justify-center">
                                        <div class="flex flex-col gap-0.5">
                                            <div class="flex items-baseline flex-wrap lg:flex-nowrap gap-2.5">
                                                <label class="form-label max-w-32">
                                                    New Relation
                                                </label>
                                                <input class="input" name="new_relation" type="text" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-2.5 px-4 pt-2 justify-center">
                                <button class="btn btn-sm btn-success add_relation_form_button_cancel">
                                    Cancel
                                </button>
                                <button class="btn btn-sm btn-danger add_relation_form_button_confirm">
                                    Create Relation
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/js/updateOption.js"></script>