<form method="post">
    <h3>Відновлення пароля</h3>
    <input type="email" name="email" class="input" placeholder="Введіть email" />
    <button class="btn btn-primary">Надіслати</button>

    @if (ViewBag.Error != null)
    {
        <div class="text-red-600">@ViewBag.Error</div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="text-green-600">@ViewBag.Message</div>
    }
</form>
