@model WebApp.ViewModels.RegisterViewModel

<form class="card-body flex flex-col gap-5 p-10" id="sign_up_form" method="post" autocomplete="off" asp-action="RegisterUser">
    <div class="text-center mb-2.5">
        <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
            Реєстрація
        </h3>

        <div class="flex items-center justify-center">
            <span class="text-2sm text-gray-700 me-1.5">
                У Вас вже є Аккаунт?
            </span>
            <a class="text-2sm link" href="/Account/loginIn">
                Увійти
            </a>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-2.5">
        <a class="btn btn-light btn-sm justify-center" href="/Account/GoogleLogin">
            <img alt="" class="size-3.5 shrink-0" src="~/assets/media/brand-logos/google.svg" />
            Use Google
        </a>


        <a class="btn btn-light btn-sm justify-center" href="#">
            <img alt="" class="size-3.5 shrink-0 dark:hidden" src="~/assets/media/brand-logos/apple-black.svg" />
            <img alt="" class="size-3.5 shrink-0 light:hidden" src="~/assets/media/brand-logos/apple-white.svg" />
            Use Apple
        </a>
    </div>
    <div class="flex items-center gap-2">
        <span class="border-t border-gray-200 w-full">
        </span>
        <span class="text-2xs text-gray-600 uppercase">
            or
        </span>
        <span class="border-t border-gray-200 w-full">
        </span>
    </div>
    <div class="flex flex-col gap-1">
        <label class="form-label text-gray-900">
            Email
        </label>
        <input class="input" name="User_Email" placeholder="email@email.com" type="text" value="@Model?.User_Email" />
        
    </div>
    <span class="text-xs text-red-500" asp-validation-for="User_Email"></span>
    <div class="flex flex-col gap-1">
        <label class="form-label text-gray-900">
            Логин
        </label>
        <input class="input" name="User_Login" placeholder="Введите логин" type="text" value="@Model?.User_Login" />
        
    </div>
    <span class="text-xs text-red-500" asp-validation-for="User_Login"></span>
    <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900">
            Пароль
        </label>
        <div class="input" data-toggle-password="true">
            <input name="User_Password" placeholder="Enter Password" type="password" value="">
            <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden">
                </i>
                <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block">
                </i>
            </button>
            </input>
            
        </div>
    </div>
    <span class="text-xs text-red-500" asp-validation-for="User_Password"></span>
    <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900">
            Повторити пароль
        </label>
        <div class="input" data-toggle-password="true">
            <input name="User_Password_Confirm" placeholder="Re-enter Password" type="password" value="" />
            <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden">
                </i>
                <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block">
                </i>
            </button>
           
        </div>
    </div>
    <span class="text-xs text-red-500" asp-validation-for="User_Password_Confirm"></span>

    <label class="checkbox-group">
        <input class="checkbox checkbox-sm" name="Check" type="checkbox" value="1" @(Model?.Check == "1" ? "checked" : "") />
        <span class="checkbox-label">
            Я погоджуюсь
            <a class="text-2sm link" href="#">
                Terms & Conditions
            </a>
        </span>
    </label>


            @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-danger mb-4 p-3 rounded-md text-red-700 bg-red-100 font-medium">
                    @Model.ErrorMessage
                </div>
            }

    <button class="btn btn-primary flex justify-center grow">
        Зареєструватись
    </button>
</form>