<form method="post">
    <input type="hidden" name="Token" value="@Model.Token" />
    <input type="hidden" name="Email" value="@Model.Email" />

    <h3>Новий пароль</h3>

    <input class="input" type="password" name="NewPassword" placeholder="Новий пароль" />
    <input class="input" type="password" name="ConfirmPassword" placeholder="Повторіть пароль" />

    <button class="btn btn-primary">Змінити пароль</button>

    @if (ViewBag.Error != null)
    {
        <div class="text-red-600">@ViewBag.Error</div>
    }
</form>
