@model WebApp.ViewModels.ResetPasswordViewModel

<form method="post" class="card-body flex flex-col gap-4 p-8">

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <h3 class="text-lg font-medium text-center">Новий пароль</h3>

    <div>
        <input asp-for="NewPassword" type="password" class="input" />
        <span asp-validation-for="NewPassword" class="text-red-500"></span>
    </div>

    <div>
        <input asp-for="ConfirmPassword" type="password" class="input" />
        <span asp-validation-for="ConfirmPassword" class="text-red-500"></span>
    </div>

    @if (ViewData.ModelState[""]?.Errors.Any() == true)
    {
        <div class="bg-red-100 text-red-700 p-3 rounded">
            @foreach (var e in ViewData.ModelState[""].Errors)
            {
                <p>@e.ErrorMessage</p>
            }
        </div>
    }

    <button class="btn btn-primary">Змінити пароль</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
